{% extends "layout.html" %}

{% block title %}
    My account
{% endblock %}

{% block main %}

		<h2>Категории</h2>


		<div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div>


		<div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div>


		<div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div>

		<div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div>


		<div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div>

		<div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div><div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div><div class="cat_item">
			<img src="https://static.wikia.nocookie.net/protagonist/images/6/66/Steve_Minecraft.jpg/revision/latest?cb=20190518145614&path-prefix=ru " alt="">

			<h3>Категория 1</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam unde, nesciunt voluptates sunt magnam, quibusdam non nemo harum, quisquam cumque vitae veniam vel accusantium.
			</p>

			<a href="#">Весь список</a>

		</div>
	</div>

{% endblock %}
